[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio
Icon={{ android_studio_install_dir }}/bin/studio.png
Exec={{ android_studio_install_dir }}/bin/studio.sh
Comment=The IDE for Android development
Categories=Development;IDE;
Terminal=false
StartupNotify=true